<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Таблица</title>
  <style type="text/css">
    TABLE {

      border: 2px solid #2e8b57; /* Рамка вокруг таблицы */
    }
    THEAD {
      background: #4682b4; /* Параметры фона */
    }
    TD, TH {
      padding: 1px; /* Поля вокруг содержимого ячеек */
      align: "right";
    }
    .lc {
      font-weight: bold; /* Жирное начертание текста */
      text-align: center; /* Выравнивание по центру */
    }
  </style>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th>FIO</th>
    <th>Position</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of serviceHoliday.listForHoliday |  paginate: {id: 'listing_paginationHoliday',
  itemsPerPage: 5,
  currentPage: pageH,
  totalItems: totalRecordsH}">
    <td>{{user.FIO}}</td>
    <td>{{user.Position}}</td>
    <td>{{user.Date}}</td>
  </tr>
  </tbody>
</table>
<div>
  <pagination-controls id="listing_paginationHoliday" maxSize="5" directionLinks="true" (pageChange)="pageH = $event"></pagination-controls>
</div>
</body>
